* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-color-lightblue {
    background-color: #43DDE7;
}

.img-navbar {
    width: 120px;
    height: 40px;
    object-fit: cover;
    filter: brightness(0)invert(1);
}

.landing {
    padding: 9rem 0 6rem 0;
    background: url('/storage/assets/landing_background.png') center center no-repeat, white;
    background-size: cover, cover;
}
